.container {
	margin: 80px 400px;
}

.container h1 {
	text-align: center;
	margin: 0 0 50px 0;
}

.container p {
	color: #1e3f66;
	font-size: 18px;
	border-radius: 20px;
	line-height: 1.8;
}

details {
	color: #fff;
	font-size: 1.5rem;
	border-radius: 20px;
	margin: 15px 0;
}

summary {
	font-size: 20px;
	font-weight: bold;
	color: #1e3f66;
	padding: 0.5em 1.3rem;
	list-style: none;
	display: flex;
	justify-content: space-between;
	transition: height 1s ease;
}

summary::-webkit-details-marker {
	display: none;
}

summary:after {
	content: "\002B";
}

details[open] summary {
	margin-bottom: 0.5em;
}

details[open] summary:after {
	content: "\00D7";
}

details[open] div {
	padding: 0.5em 1em;
}

details:nth-child(odd) summary {
	background-color: #e9ebed;
	border-radius: 20px;
}

details:nth-child(even) summary {
	background-color: #f9f9f9;
	border-radius: 20px;
}

details div {
	background-color: #ffffff;
	border-radius: 20px;
	border: 0.2px solid #e9ebed;
	margin-bottom: 10px;
}
